<StackLayout>
    <Label class="h2" [text]="item.q.text" textWrap="true" width="100%"></Label>
    <ListView [items]="item.options" class="list-group" (itemTap)="onSelect($event)">
        <ng-template let-opt="item" let-i="index">
                <DockLayout stretchLastChild="true">
                        <Image [src]="(i == selectedOptionIndex)?assets.RADIO_BOX_CHECKED:assets.RADIO_BOX_UNCHECKED" dock="left" stretch ="none"></Image> 
                        <Label [text]="opt" class="h2"></Label>
                </DockLayout>
        </ng-template>
    </ListView>

    <Button (tap)="onSubmit()" text="Submit"></Button>
    <Label [text]="feedback" class="h2"></Label>
</StackLayout>






