<StackLayout>
    <Label class="h2" [text]="item.q.text"></Label>
    <!--StackLayout *ngFor="let option of item.options" class="list-group-item">
        <Label (tap)="onSelect(option)" [text]="option" class="h2"></Label>
    </StackLayout-->

    <ListView [items]="item.options" class="list-group" (itemTap)="onSelect($event)">
        <ng-template let-opt="item" let-i="index">
                <DockLayout stretchLastChild="true">
                        <Image [src]="(i == selectedOptionIndex)?assets.RADIO_BOX_CHECKED:assets.RADIO_BOX_UNCHECKED" dock="left" stretch ="none"></Image> 
                        <Label [text]="opt" class="h2"></Label>
                </DockLayout>
        </ng-template>
    </ListView>

    <Button (tap)="onSubmit()" text="Submit"></Button>
    <Label [text]="feedback" class="h2"></Label>
    <!--StackLayout>
        <WebView loaded="webViewLoaded"  touch="webViewTouch" pan="webViewPan" src="<!DOCTYPE html><html><body><h1>My First Heading</h1><p>My first paragraph.</p></body></html>">
        </WebView>
    </StackLayout-->
</StackLayout>






