<ActionBar [title]="title" class="action-bar"></ActionBar>
<!-- FlexboxLayout flexDirection="column" class="page">
    <FlexboxLayout class="m-15">
        <Label class="h2" [text]="item.class + '. '"></Label>
        <Label class="h2" [text]="item.class"></Label>
    </FlexboxLayout>
    <Label class="h4" [text]="item.class"></Label>
</FlexboxLayout -->



<StackLayout class="page">
    <ListView [items]="items" class="list-group">
        <ng-template let-item="item">
                <Label [nsRouterLink]="['/subjects',item.class]" [text]="item.class"
                class="list-group-item"></Label>
        </ng-template>
    </ListView>
</StackLayout>

