<!-- ScrollView orientation="vertical">
    <StackLayout width="100%" height="100%" class="page">
        <WebView width="100%" height="100%" src="http://schoolspider.in/wp/tutorial-2/"></WebView>
    </StackLayout>
</ScrollView -->    

<StackLayout width="100%" height="100%" class="page">
    <!--Image [src]="refurl" width="100%" height="100%" stretch ="aspectFit"></Image -->
    <PDFView [src]="refurl" width="100%" height="100%" (load)="onLoad()"></PDFView>
    <!--PDFView src="http://www.schoolspider.in/School/Class1/Maths/Tutorial/Maths_term%202.pdf" width="100%" height="100%" ></PDFView -->

    
</StackLayout>






