<ActionBar title="{{constantsService.appConfigData.appname}}" class="action-bar"></ActionBar>
<Progress [value]="progressValue" maxValue="100" class="m-20"></Progress>
<StackLayout class="page">
        <!-- Image [src]="assets.DYN_ICONS" stretch ="none"></Image --> 
        <ListView [items]="items" class="list-group">
            <ng-template let-item="item">
                    <Label [nsRouterLink]="['/standards',item.role]" [text]="item.name" class="list-group-item"></Label>
            </ng-template>
        </ListView>
</StackLayout>
