<ActionBar [title]="title" class="action-bar"></ActionBar>
<FlexboxLayout flexDirection="column" class="page">
    <FlexboxLayout class="m-15">
        <!--Label class="h2" [text]="item.class + '. '"></Label>
        <Label class="h2" [text]="item.class"></Label -->
    </FlexboxLayout>
    <Label class="h4" text="Quiz"></Label>
    <page-router-outlet></page-router-outlet>
    <!--Label [nsRouterLink]="['/topics',item.class,this.subject,item.lesson]" text="Next"
    class="list-group-item"></Label-->
</FlexboxLayout>






