<StackLayout class="question-page">
    <Label class="h2" [text]="questionData.q.text" textWrap="true" width="100%"></Label>
    <ListView [items]="questionData.options" class="list-group" separatorColor="transparent">
            <ng-template let-opt="item" let-i="index">
                    <DockLayout stretchLastChild="true">
                            <Label [text]="opt" class="h2"></Label>
                            <TextField secure="false" [keyboardType]="questionData.keyboardtype" [(ngModel)]="selectedOptionTextList[i]" class="h2"></TextField>
                    </DockLayout>
            </ng-template>
        </ListView>
    <Button (tap)="onSubmit()" width="30%" text="Submit"></Button>
    <Label [text]="feedback" textWrap="true" width="100%" class="h2"></Label>
</StackLayout>






